* {
    box-sizing: border-box;
  }
html {
    font-size: 10px;
  }
body{
    padding: 0;
    margin: 0;
  }
.main{
    font-family: 'Poppins', sans-serif;
    width: 100%;
  }
.main-container{
    margin: auto;
    max-width: 1500px;
  }
  .container01{
    background-color: #000000;
  }
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
  }
  .logo-band{
    display: flex;
    flex-direction: row;
  }
.logo-div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid ;
    height: 5rem;
    width: 5rem;
    background-color: #F1F6FF;
    border-radius: 50%;
  }
  .logo-head{
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
  }
.name-head{
    font-size: 3rem;
    color: #1A47FF;
    font-weight: bold;
    margin-left: 1rem;
}
.nav-bar{
    display:none;
}
nav ul{
    display: none;
    list-style-type: none;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    color: #F1F6FF;
  }
nav li {
	padding: 0 2rem;
}
nav a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
    font-style: normal;
}
.btn{
    display: flex;
    align-items:center;
    line-height: 10rem;
    padding-top: .4rem;
}
.signin-btn{
    font-size: 1.2rem;
    height: 3rem;
    width: 6rem;
    border: none;
    color: #000000;
    background-color: #ffffff;
    border-radius: .5rem;
    margin-left: 2rem;
}
.signup-btn{
    font-size: 1.2rem;
    height: 3rem;
    width: 6rem;
    border: none;
    color: #ffffff;
    background-color: #1A47FF;
    border-radius: .5rem;
    margin-left: 1rem;
 }
 .menu-icon {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    padding: 1rem 1.5rem;
  }
  
  .menu-icon span {
    display: block;
    height: .2rem;
    width: 2rem;
    background: #ffffff;
    margin: .3rem 0; 
  }
@media(min-width:728px) {
    header{
        display: flex;
        padding: 20px 20px 0 20px;
        justify-content: space-between;
        position: relative;
    }
    .nav-bar{
        display: flex;
      }
    .nav{
        display: none;
    }
    nav ul{
        display: none;
    }
    .btn{
        display: flex;
        line-height: 10rem;
        position: absolute;
        right: 10rem;
        top:2.5rem;
}
}
@media (min-width:1190px) {
    header{
        display: flex;
        padding: 50px 80px 40px 80px;
        position: none;
    }
    .name-head{
        font-weight: 600;
    }
    .logo-div{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid ;
        height: 5rem;
        width: 5rem;
        background-color: #F1F6FF;
        border-radius: 1.5rem;
    }
    .logo-head{
        height: 2rem;
        width: 2rem;
    }
    .nav-bar{
      display: flex;
    }
    .nav{
        display: flex;
    }
    nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10rem 0 0 ;
    }
    .menu-icon {
        display: none;
        }
    .btn{
        position: static;
    }
}
.sub-container01{  
    margin: 0 3rem;
}
.content-part{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 1rem .5rem;
    margin: 0 auto;

}
.subhead-01, .subhead-02{
    font-size: 2rem;
    font-weight: bold;
    height: 30px;
    color: #ffffff;
    text-align: left;
}
.para-01{
    font-size: 1.1rem;
    padding: 1rem 0;
    color:#ffffff;
    line-height: 2rem;
    width: 280px;
    align-items: flex-starts;
}
.btn-01{
    display: flex;
    flex-direction: row ;
    align-items:flex-start;
    justify-content: flex-start;
    margin-left: 0;
    align-items: flex-start;
}
.account-btn{
    font-size: 1.1rem;
    font-weight: 600;
    height: 4rem;
    width: 12rem;
    border: none;
    color: #000000;
    background-color: #ffffff;
    border-radius: .8rem;
    margin-right: 3.2rem;
}
.demo-btn{
    font-size: 1.1rem;
    font-weight: 600;
    height: 4rem;
    width: 11rem;
    border: none;
    color: #ffffff;
    background-color: #000000;
    border-radius: .8rem;
    border: 1px solid #ffffff;
    }
@media (min-width:728px){
    .content-part{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        margin-left: 8rem;
    }
   .subhead-01, .subhead-02{
    font-size: 5rem;
    /* width: auto; */
    padding: 2rem 0;
    margin-top: 2rem;
    }
    .para-01{
        font-size: 1.4rem;
        padding:6rem 0 2rem 0;
        margin-left: 0;
        width: 45rem;
        line-height: 2.5rem;
        font-weight: 300   ;
    }
    .btn-01{
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        }
    .account-btn, .demo-btn{
        font-size: 1.3rem;
        font-weight: 600;
        height: 4rem;
        width: 16rem;
        border-radius: 1rem;
    }  
}
@media (min-width:1140px){
    .content-part{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        margin-left: 16rem;
    }
    .subhead-01, .subhead-02{
        font-size: 7rem;
        /* width: auto; */
        padding: 4rem 0;
        }
        .para-01{
            font-size: 1.4rem;
            margin:5rem 0 2rem 0;
            width: 65rem;
            line-height: 2.5rem;
            font-weight: 300   ;
            padding-bottom: 2rem;

        }
        .btn-01{
            display: flex;
            flex-direction: row;
            align-items:flex-start;
            justify-content: flex-start;
            }
            .account-btn{
                font-size: 1.4rem;
                font-weight: 600;
                height: 5rem;
                width: 20rem;
                border: none;
                color: #000000;
                background-color: #ffffff;
                border-radius: .8rem;
                margin-right: 3.5rem;
            }
            .demo-btn{
                font-size: 1.4rem;
                font-weight: 600;
                height: 5rem;
                width: 20rem;
                border: none;
                color: #ffffff;
                background-color: #000000;
                border-radius: .8rem;
                border: 1px solid #ffffff;
                }
}
.head-02{
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    padding: 30px 0px;
    text-align: center;
}
@media (min-width:820px){
    .head-02{
        font-size: 4.5rem;
        text-align: center;
     margin-top: 5rem;
    }
}
.boximage-01{
    display: flex;
    justify-content: center;
    border: 1px solid;
    background-color: #F4F4FE;
    border-radius: 2rem;
    height: 15rem;
    width: 250px;
    margin: 0 auto;
}
.service-head{
    font-size: 2.5rem;
    color: #ffffff;
    font-weight:bold;
    display: block;
    text-align: center;
    line-height: 8rem;
}
.box-content{
    display: none;
    border: 1px solid;
    background-color: #F4F4FE;
    border-radius: 2rem;
    width: 450px;
    height: 220px;
    padding: auto;
}
.create{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 2rem 0 1rem 2rem;
}
.box-para{
    font-size: 1.5rem;
    margin: 0 2rem;  
    color: #707070;
}
.banner-arrow{
    display: flex;
    align-items: center;

}
.arrow-01{
    color: #1A47FF;
    font-size: 1.5rem;
    margin: 0 0 1.3rem 2rem;
}
.arw{
    padding-top:2rem ;
}
@media (min-width:1120px) {
    .flexbox-02{
        display: flex;  
        flex-direction: row-reverse;
        justify-content:flex-start;
        width: 80%;
        margin-left: 20rem;
    }
    .box-01{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:left;
    }
    .box-content{
        display: flex;
        flex-direction: column;
        width: 350px;
    }
    .boximage-01{
        height: 450px;
        width: 750px;
        margin: 0 5rem;
    }
    .img01{
        height: auto;
        width: auto;

    }
    .service-head{
        line-height: 11rem;
        text-align: left;
        padding:0 0 3rem 3rem;
        font-size: 3rem;
    }
}
.container2{
    background-color: #ffffff;
}
.head03{
    font-size: 2rem;
    color: #000000;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    padding:4rem 0 1rem 0;
    width: 300px;
}
.para-03{
    color: #707070;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
    padding-bottom: 2rem;
    width: 90%;
}
@media(min-width:728px){
    .head03{
        font-size: 3.5rem;
        text-align: center;
        align-items: center;
        width: 650px;
        justify-content: center;
        margin: 0 auto;
        padding-bottom: 0;
    }
    .para-03{
        font-size: 1.3rem;
        width: 500px;
        margin: 0 auto;
        padding-bottom: 5rem;

    }
}
@media(min-width:1120px){
    .head03{
        font-size: 5rem;
        text-align: center;
        align-items: center;
        width: 65%;
        justify-content: center;
        margin:0 auto;
        padding-top: 20rem;
    }
    .para-03{
        font-size: 1.3rem;
        width: 35%;
        margin: 0 auto;
        line-height: 2.5rem;
        padding-bottom: 5rem;
    }
}
.boxtype-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxtype{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #F1F1F1;
    border-radius: 3rem;
    width: 300px;
    height:auto;
    margin:1rem auto;
    background-color: #F1F1F1;
}
.imag02, .imag03, .imag04, .imag05{
    width: 150px;
    height: 120px;
    margin-top: 1rem;
}
.contentimg-div{
    margin: 0 auto;
    align-content: center;
    width: 200px;
}
.heading-div{
    color: #1F2024;
    font-size: 2rem;
    font-weight:600;
    text-align: center;
    padding-top: 1rem ;
}
.boxtype-para{
    font-size:1.4rem;
    font-weight: 200;
    text-align: center;
    color: #707070;
    padding: 1rem 0 ;
}
@media (min-width: 940px){
    .boxtype-images{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        width: 850px;
        margin: 0 auto;
    }
    .boxtype{
        display: flex;
        flex-direction: row;
        width: 400px;
        height:200px;
        margin-right:0 2rem;
    }
    #boxtype-03, #boxtype-04{
        display: flex;
        flex-direction: row;
        width: 400px;
        height:150px;
        margin-right:0 2rem;
    }
    .imag02, .imag03, .imag05{
        padding-left: 3rem;
    }
    .imag04{
        margin-top: 3rem;
        padding-bottom: 0;
    }
    .imag05{
        width: 17rem;
        padding-top: 1rem;
    }
    .boxtype-para{
        font-size: 1rem;
        text-align: left;
        width: 90%;
        margin: 0 0;
        padding: 0 1rem 1rem 0;
    }
    .heading-div{
        color: #1F2024;
        font-size: 2rem;
        font-weight:600;
        text-align: left;
        padding-top: 1rem ;
    }
    #marketing-para{
        width: 80%;
    }
    #personalize-box{
        padding-top: 2.5rem;
    }
}
.head-04{
    font-size:2rem;
    font-weight: 600; 
    text-align: center;
    padding:1rem 0;
}
.para-04{
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 2rem;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    color: #707070;
    padding: 2rem 0 3rem 0;
}
@media(min-width:940px){
    .head-04{
        font-size: 5rem;
        font-weight: 700;
        display:flex ;
        flex-direction: column;
        text-align: left;
        width: 85%;
        padding-left:0 0 0 2rem;
        margin-top: 8rem;
        line-height: 7rem;
    }
    .para-04{
        display:flex ;
        flex-direction: column;
        text-align: left;
        width: 55%;
        justify-content:left;
        margin: 0;
        padding:0 0 5rem;
        line-height: 2rem;
    }
    .sub-container022{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: flex-start;
        align-items: flex-start;
        width: 850px;
    }
}
.shoes-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shoes{
    width: 270px;
    height: 240px;
    align-items: center;
}
.blue-head{
    color: #1A47FF;
    font-size: 1.3rem;
    margin-left: 1.5rem;
}
.scale-head{
    font-size :2rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem 0;
}
.scale-para{
    font-size: 1.1rem;
    text-align: center;
    color: #707070;
    line-height: 2rem;
    padding-bottom: 2rem;
    width: 300px;
    margin: 0 auto;
}
.blue-link{
    font-size: 1.3rem;
    color: #1A47FF;
    text-align: center;
}
.link-arw{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20rem;
}
#arw02{
    padding-bottom: 1.7rem;
margin: 0 1.5rem;
}

@media (min-width:720px) {
    .flexbox-03{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .shoes{
        margin-right: 5rem;
        width: 300px;
    }
    .sub-flexbox-03{
        width: 300px;
        justify-content: left;
    }
    #flexbox-id{
        text-align: left;
    }
    .blue-head{
        margin-left: 0;
            } 
}
@media (min-width:1120px) {
    .flexbox-03{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 10rem;
    }
    .shoes-div{
        height: 270px;
        width: 450px;
        margin: 0 7rem 0 0 ;
        align-items: normal;
    }
    .shoes{
        height: auto;
        width: auto;
    }
    .boximage-01{
        height: 450px;
        width: 750px;
        margin: 0 5rem;
    }
    .img01{
        height: auto;
        width: auto;
    }
    .scale-head{
        font-size: 3.5rem;
        font-weight: bold;
        width: 50%;
        line-height: 4rem;
    }
    .scale-para{
        width: 75%;
        margin: 0;
        padding-bottom: 0;
    }
    .sub-flexbox-03{
        width: 450px;
    }
    .blue-link{
        font-size: 1rem;
    }  
    .blue-head{
margin-left: 0;
    } 
    .link-arw{
    display: flex;
    flex-direction: row;
    align-items: center;
}
}
.contact-head{
    color: #1F2024;
    font-size: 2rem;
    font-weight: 800;
    padding: 3rem 0;
    text-align: center;

}
@media (min-width:720px) {
    .contact-head{
    font-size: 5rem;
}
}
.container03{ 
    background-color: #8c8c8c;
    width: 100%;
}
.formcontainer{
    background-image: none;
}
.form-details01{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    background-image: url('images/bgimg01.svg');
    background-repeat: no-repeat;
}
 .form-details02{
     display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    background-image: url('images/bgimg02.svg');
    background-repeat: no-repeat;
}
input{
    border: none;
    font-size: 1.5rem;
    background: none;
    background:fixed;
    padding-left: 0;
}
input:focus{
    outline: none;
}
input::placeholder{
    color: #D4D4D4;
}
.uline{
    border-top: 1px solid #8ED6FF ;
    width: 95%;
    margin: 1rem 0 1rem 0;
}
.uline-01{
    border-top: 1px solid #8ED6FF ;
    width: 60%;
    margin: 0rem 0 1rem 0;
}
.zip-city{
    width: 90%;
}
.radio-input{
    font-size: 1.5rem;
    color: #ffffff;
    padding-bottom: 1rem;
    text-align: left;
    width: 90%;
    margin: 2rem 0 3rem 0 ;
}
.radiotype-cont{
    color: #ffffff;
    padding-bottom: 2rem;
    text-align: left;
    width: 90%;
    margin: 0rem 0 3rem 0 ;
}
.typing-field{
    color: #ffffff;
    padding: 2rem 0 2rem 0;
    text-align: left;
    width: 90%;
}
.typing-field01{
    color: #ffffff;
    padding: 1rem 0 2rem 0;
    text-align: left;
    width: 80%;
}
.message-head{
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1rem 0 2rem 0;
    text-align: left;
    width: 100%;
}
.message{
    border-radius: 1rem;
    border: 1px solid #8ED6FF;
    width: 100%;
    padding: 3rem;
    text-align: baseline;
    outline: none;
    margin: 1rem 1rem ;
    background: none;
    height: 110px;
}
.btn-02{
    display: flex;
    flex-direction: column ;
    text-align: left;   
    padding: 0 2rem;
}
.send-btn{
    font-size: 1rem;
    height: 3rem;
    width: 15rem;
    border: none;
    color: #ffffff;
    background-color: #8ED6FF;
    border-radius: 2rem;
    margin:0  2rem 2rem 0;
}
.cancel-btn{
    font-size: 1rem;
    height: 3rem;
    width: 15rem;
    border: none;
    color: #ffffff;
    background:none;
    border-radius: 2rem;
    border: 1px solid #8ED6FF;
    margin:0  2rem 2rem 0;
}
@media(min-width: 820px){
    .container03{
        background-color: #8c8c8c;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 6rem 10rem;
      border-radius: 1rem;
    }
    .formcontainer{
      display: flex;
      background-image: url('images/bgimg01.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      margin: 2rem 5rem;
    }
    .form-details01{
      flex-grow: 1;
      flex-basis: 50%;
      border-right: 1px solid #8ED6FF;
      padding:2rem 5rem 2rem 10rem;
      margin: 0 2rem 0 0;
      background-image: none;
    }
    .form-details02{
      flex-grow: 1;
      flex-basis: 50%;
      padding: 8rem 10rem 2rem 3rem;
      margin: 0;
      background-image: none;
    }
    input{
      background: none;
      border: none;
      font-size: 1.5rem;
      padding-top: 2rem;
    }
    .uline{
      border:1px solid #8ED6FF ;
      width: 100%;
      margin-bottom: 1rem;
    }
    .uline-01{
      border:1px solid #8ED6FF ;
      width: 90%;
      flex-grow: 1;
    }
    input:focus{
      outline: none;
    }
    input::placeholder{
      color: #D4D4D4;
    }
    .zip-city{
      display: flex;
      flex-direction: row;
    }
    .zip-01, zip-02{
      display: flex;
      flex-direction: column;
    }
    .radio-input{
      font-size: 1.3rem;
      color: #ffffff;
      padding-bottom: 1rem;
      text-align: left;
      margin: 2rem 0 0 0 ;
    }
    .radio-type{
      font-size: 1.3rem;
    }
    .radiotype-cont{
      color: #ffffff;
      padding-bottom: 2rem;
      text-align: left;
      margin: 0 0 2rem 0 ;
    }
    .typing-field{
      color: #ffffff;
      text-align: left;
    }
    .typing-field01{
      color: #ffffff;
      text-align: left;
    }
    .message{
      border-radius: 1rem;
      border: 1px solid #8ED6FF;
      width: 100%;
      outline: none;
      margin: 2rem 0 ;
      background: none;
    }
    .message-head{
      font-size: 1.3rem;
      color: #ffffff;
      margin-bottom: 2rem ;
      padding-left: 2rem;
      width: 100%;
    }
    
    .btn-02{
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: left;   
      padding: 2rem 0;
      width: 100%;
    }
    .send-btn{
      font-size: 1rem;
      height: 2rem;
      width: 10rem;
      border: none;
      color: #ffffff;
      background-color: #8ED6FF;
      border-radius: 2rem;
      margin:0  2rem 2rem 0;
    }
    .cancel-btn{
      font-size: 1rem;
      height: 2rem;
      width: 10rem;
      border: none;
      color: #ffffff;
      background:none;
      border-radius: 2rem;
      border: 1px solid #8ED6FF;
    }
}
.container-04{
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.container-body{
    width: 300px;
    justify-content: center;
    align-items:center;
    margin: 0   auto;
}
.subhead-41{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding:0 10px;
}
.logo-41{
    display: none;
}
.name-first{
        font-size: 3rem;
        color: #1A47FF;
        font-weight: bold;
}
.para-41{
    display: flex;
    color: #D4D4D4;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    align-content: center;
    text-align: left;
}
.com-subhead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subhead-42, .subhead-43, .subhead-44, .subhead-45, .subhead-46{
display: flex;
flex-direction: column;
justify-content: flex-start;
width: 50%;
padding: 2rem 2rem;
}
.product, .company, .resources, .social2, .legal{
    font-size: 1.2rem;
    color: #D4D4D4;
    padding:1rem 0 2rem 0 ;
    text-align: left;
}
.product-sub, .company-sub, .resources-sub, .social-sub, .legal-sub{
    display: flex;
    color: #ffffff;
    text-align: left;
    line-height: 4rem;
    font-size: 1.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}
.logo-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 10rem 0 ;
}
.logo-last{
    width: 40px;
    height: 40px;
}
.name-last{
    font-size: 3rem;
    color: #1A47FF;
    font-weight: bold;
    margin-left: 1rem;
}
@media(min-width:728px) {
    .container-body{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .para-41{
        padding: 0;
    }
    .com-subhead{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;
    }
    .product, .company, .resources, .social2, .legal{
        align-content: center;
        padding-bottom: 2rem;
    }
    .logo-name{
        display: none;
    }
    .logo-41{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    .logo-first{
        display: flex;
        padding-right: 1rem;
        flex-wrap: wrap;
    }
     .subhead-41, .subhead-42, .subhead-43, .subhead-44, .subhead-45, .subhead-46{
        justify-content: center;
        margin: 0;
        border: 0;
     }
     .subhead-41{
        position: relative;
        height: 30rem;
        margin-top: 10rem;
     }
     .subhead-42, .subhead-43, .subhead-44, .subhead-45, .subhead-46{
        width: 150px;
     }
}
@media (min-width:1120px){
    .container-body{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .com-subhead{
        display: flex;
        flex-direction: row;
        justify-content: center;
         align-items: center;
         padding: 0, 0;
    }
    .product, .company, .resources, .social2, .legal{
        align-content: center;
        padding-bottom: 2rem;
    }
    .logo-name{
        display: none;
    }
    .logo-41{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    .logo-first{
        display: flex;
        padding-right: 1rem;
        flex-wrap: wrap;
    }
     .subhead-41, .subhead-42, .subhead-43, .subhead-44, .subhead-45, .subhead-46{
        justify-content: center;
        border: 0;
        padding: 0 4rem 4rem 0;
     }
     .subhead-41{
        position: relative;
        /* height: 30rem; */
        margin-left: 5rem;
     }
     .subhead-42, .subhead-43, .subhead-44, .subhead-45, .subhead-46{
        padding-top: 10rem;
     }
    }